body{
    margin:0;
}
a{
    text-decoration:none;
	color:#424a54;
}
a:hover{
    text-decoration:none;
}
p{
    margin:0;
    padding:0;
}

.product-management-page{
    max-width:750px;
    margin:0 auto;
    background:#eeeff4;
    width:100%;
	color:#a4a4a4;
	min-height:500px;
}

.pm-order-by{
    background:#fff;
	-moz-box-shadow:3px 2px 3px #e4e4e7;
    -webkit-box-shadow:3px 2px 3px #e4e4e7;
    box-shadow:3px 2px 3px #e4e4e7;
	margin-bottom:10px;
}
.pm-order-by .po-choice{
    float:left;
	width:25%;
	text-align:center;
	line-height:22px;
}
.pm-order-by .po-choice span{
    line-height: 36px;
    cursor: pointer;
    padding: 10px 5px;
}
.pm-order-by .po-choice.po-active span{
    color: #ff8522;
}
.clear{
    clear:both;
}
.pm-product-list table{
    width:100%;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	-moz-box-shadow:3px 2px 3px #e4e4e7;
    -webkit-box-shadow:3px 2px 3px #e4e4e7;
    box-shadow:3px 2px 3px #e4e4e7;
	margin-bottom:10px;
	
	background:#fff;
}
.pm-product-list .pl-td-padding{
	padding-top:10px;
}
.pm-product-list .product-img {
    width: 30%;
    max-width: 150px;
	text-align:center;
}
.pm-product-list .product-img img {
    width: 80%;
	padding:10% 0;
}
.pm-product-list .pm-commission-total{
    color:#ff8522;
	padding:0 5px;
}
.pm-order-by .po-down{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.pm-order-by .po-up{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

